<h3>PerfilPersonal</h3>
<div class="row">
	<div class="md-12">
		<p>
			Desarrollo de algunos perfiles en blazor
			<br /><br />
			Estos son lo perfiles que tengo pra empexar el proyecto
			<br /><br />
	        Finalmente ya esta todo listo para empezar 
			<br /><br />
			</p>
		</div>
  </div>
  <div class="row">
	  <div class="col-sm-3">
		<b>Telefono:</b>@Telefono
     </div>
	 <div class="col-sm-3">
		<b>Email:</b> dimalfm@gmail.com
	</div>
	<div class="col-sm-3">
		<b>GitHub:</b>/ElectNewt
	</div>
	<div class="col-sm-3">
		<b>Website:</b> Dios lo  es todo
	</div>
</div>
@code {
	[Parameter]

	public string Telefono	{ get; set; }

}
